.headerWrapper {
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	height: 80px;
	backdrop-filter: blur(var(--blur-sm));
	background: var(--bg-secondary-semiglass);
	border-bottom: 1px solid var(--fg-border);
	border-radius: 0 0 1rem 1rem;
	max-width: 1480px;
	margin: 0 auto;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--color-primary);
}

.logo svg {
	width: 2.5rem;
	height: 2.5rem;
	color: var(--accent-primary);
}

.siteName {
	letter-spacing: 0.5px;
}

.navDesktop {
	display: flex;
	gap: 2.5rem;
	align-items: center;
	margin-right: 2rem;
}

.navMobile {
	display: none;
}

.navLink {
	color: var(--color-secondary);
	text-decoration: none;
	font-weight: 400;
	transition: all 0.3s ease;
	position: relative;
	font-size: 1.125rem;
}

.navLink:hover {
	color: var(--color-accent);
}

.navLink::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: var(--accent-primary);
	transition: width 0.3s ease;
}

.navLink:hover::after {
	width: 100%;
}

.menuIcon {
	display: none;
	flex-direction: column;
	gap: 4px;
	cursor: pointer;
	z-index: 101;
}

.menuIcon span {
	width: 24px;
	height: 2px;
	background: var(--color-primary);
	border-radius: 2px;
	transition: all 0.3s ease;
}

.menuIconOpen span:nth-child(1) {
	transform: rotate(45deg) translate(4px, 5px);
}

.menuIconOpen span:nth-child(2) {
	opacity: 0;
}

.menuIconOpen span:nth-child(3) {
	transform: rotate(-45deg) translate(4px, -5px);
}

@media (max-width: 768px) {
	.header {
		padding: 1rem 1.5rem;
		border-radius: 0;
		height: 60px;
	}

	.navDesktop {
		display: none;
	}

	.navMobile {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: var(--bg-secondary-semiglass);
		backdrop-filter: blur(var(--blur-sm));
		border-bottom: 1px solid var(--fg-border);
		padding: 0;
		gap: 0;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition:
			max-height 0.6s ease,
			opacity 0.3s ease,
			padding 0.6s ease;
	}

	.navMobileOpen {
		display: flex;
		height: calc(100vh - 60px);
		max-height: 100vh;
		opacity: 1;
		padding: 1rem;
		justify-content: space-evenly;
	}
	.navLink {
		font-size: 2rem;
	}

	.menuIcon {
		display: flex;
	}

	.navMobileOpen .navLink {
		animation: slideDown 0.6s ease forwards;
		opacity: 0;
		transform: translateY(-10px);
	}

	.navMobileOpen .navLink:nth-child(1) {
		animation-delay: 0.12s;
	}

	.navMobileOpen .navLink:nth-child(2) {
		animation-delay: 0.24s;
	}

	.navMobileOpen .navLink:nth-child(3) {
		animation-delay: 0.36s;
	}

	.navMobileOpen .navLink:nth-child(4) {
		animation-delay: 0.48s;
	}

	.navLink::after {
		display: none;
	}
}

@keyframes slideDown {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
